@font-face {
    font-family: 'Tusker Grotesk';
    src: url('../assets/TuskerGrotesk-4700Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tusker Grotesk';
    src: url('../assets/TuskerGrotesk-7600Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

.hamburger {
    width: 25px;
    height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 3;
    right: 25px;
    top: 25px;
}

.hamburger div {
    width: 100%;
    height: 2px;
    background-color: #eee;
}

.home {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.grey-block {
    background-color: #C4C4C4;
    width: 25px;
    position: absolute;
    height: 0;
    left: 0;
    z-index: 2;
    height: 25vh;
}

.home button {
    position: absolute;
    z-index: 3;
    background-color: #F9DE1B;
    border-radius: 50px;
    color: black;
    padding: 15px 40px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 17vh;
    max-width: 160px;
}

.home .l-vector {
    position: absolute;
    z-index: 2;

}

.home .l-bottom {
    transform: rotate(180deg);
    bottom: 38vh;
    left: 25vw;
}

.home .l-top {
    top: 28vh;
    right: 26vw;
}

.app {
    background-color: #F9DE14;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.app .square {
    position: absolute;
    top: 0;
    left: 0;
}

.app .hamburger div {
    background-color: black;
}


.app button, label {
    background-color: black;
    border-radius: 50px;
    color: white;
    padding: 15px 40px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;

    max-width: 160px;
}

.app .open {
    font-family: 'Tusker Grotesk', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    width: 270px;
}

.app .upload {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.box {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    height: 64vh;
    width: 73vw;
    position: absolute;
    right: -10000px;
    padding: 32px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box .title {
    font-family: 'Tusker Grotesk', sans-serif;
    font-weight: bold;
    font-size: 40px;
}
.box .error {
    margin-top: 14px;
    font-family: 'Quicksand', sans-serif;
    font-weight: noraml;

}
.box .subtitle {
    font-family: Tusker Grotesk;
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;
}

#loader {
    width: 40px;
}

.hide {
    display: none;

}
